* { font-family: "D2Coding", "나눔고딕코딩", "consolas", "verdana"; }
h2.subTitle { margin-top: 3px; margin-bottom: 0; }
h2 span { vertical-align: middle; font-size: 60%; }
.label { padding: .1em .6em .1em; }
textarea { resize: none; }
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    padding: 20px;
    position: relative;
    background-color: #f7f7f7;
    border-bottom: 1px solid #eee;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f7f7f7;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

/*
 * Main content
 */
.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
